<div class="navbar">   
    <!-- <div class="user">        
        <img src="assets/Aadmin.jpg">
        <h4 class="name">Mounika</h4>
        <h4 class="mail">mounika@gmail.com</h4>
    </div> -->
    <div class="menu">
        <!-- <div class="menu-head">
            <h4 style="color:#466be0;margin-left: 50px;margin-top: 2em;"><b>DASHBOARD</b></h4>
        </div> -->
        <div class="menu-item">            
            <button mat-button class="menu-button" routerLink="/dashboard">
                <i class="fa fa-home" aria-hidden="true" style="color: white;"></i><span style="color: white;"><b>Home</b></span>                    
            </button>            
            <button mat-button class="menu-button" routerLink="/postlist">
                <i class="fa fa-comments" aria-hidden="true" style="color: white;"></i><span style="color: white;"><b>Posts</b></span>                     
            </button>           
            <button mat-button class="menu-button" routerLink="/admin">
                <i class="fa fa-user" aria-hidden="true" style="color: white;"></i><span style="color: white;"><b>Profile</b></span>                    
            </button>
        </div>
    </div>                 
</div> 

