mat-icon{
    color: #8997ac;
    margin-top: 15px;
    font-size: 30px;
}
img{
    height: 120px;
    width: 120px;
    border-radius: 80%;
    margin-left: 3.7em;
    margin-top: 1.5em;
}
.name{
    color: white;
    margin-left: 5.2em;
    margin-top: 1em;
}
.mail{
    margin-top: -10px;
    color: #697d95;
    margin-left: 2.1em;
}
.menu-items{
   .menu-head{
      color: #466be0;
      font-weight: 50px;
      margin-left: 3em;
      margin-top: 50px;
      margin-bottom: 20px;
   }
}
 .menu-item{ 
    .menu-button{
       display: block;
       width: 100%;
       position: relative;
       display: flex;
       margin-left: -38px;
       margin-bottom: 10px;
       margin-top: 1em;
     }
 }
.menu-button span{
    margin-left: 15px;
    color: white;
}
.menu-button:hover{
    background:#2c3344;
}
 .home{
     margin-top: 35px;
}
.btn{
    margin-bottom: -50px;
}






