<mat-sidenav-container class="container">
    
    <mat-sidenav-content>
    <div class="content">
        <div class="toolbar">
            <mat-toolbar> 
                <!-- <div>
                    <input type="text" class="search">
                </div>                 -->
                <h1 style="margin-left:22em;margin-top:10px;"><b>WELCOME&nbsp; TO &nbsp;RO-ONE &nbsp;BLOGS</b></h1> 
                <div class="box">
                  <mat-icon style="color: #697d95;">search</mat-icon>
                  <mat-icon style="color: #697d95;">bookmark_border</mat-icon>
                  <mat-icon style="color: #697d95;">mail_outline</mat-icon>
                  
                </div>
            </mat-toolbar>
            <div class="main">
                <form  [formGroup]= "form"  class="container">
                    <div class="form">
                        <div class="mail" style="color: rgb(26, 26, 150);" ><h3>E-mail :</h3>
                            <input type="email" class="email" placeholder="Enter your email" name= "email" formControlName="email">
                            <!-- <app-field-error-display 
                            [displayError]="isFieldValid('email')" errorMsg="Please enter your email"> [ngClass]="displayFieldCss('email')</app-field-error-display> -->
                            <!-- <span style="color: red;" *ngIf="email && email.invalid && email.touched"><br>email is invalid</span> -->
                        </div>                 
                        <br>                            
                        <div class="mail" style="color:rgb(26, 26, 150) ;"><h3>Password :</h3>
                            <input type="password" class="email" placeholder="Password" formControlName="password">
                            <!-- <app-field-error-display 
                            [displayError]="isFieldValid('password')" errorMsg="Please enter your correct password">  [ngClass]="displayFieldCss('password')"</app-field-error-display> -->
                            <!-- <span style="color: red;" *ngIf="password && password.invalid && password.touched"><br>Please enter your password</span><br> -->
                        </div>
                            <button type="login" class="login" [disabled]="!form.valid" routerLink="/" (click)="post(data)">LOG IN</button>                                      
                    </div>
                </form>                 
            </div>
        </div>
    </div>
    </mat-sidenav-content>
 </mat-sidenav-container>
 
