.row{
    margin-top: 2em;
    margin-left: 2em;
}
.col{
    margin-left: 2em; 
}
.table1{
    margin-left: 23em;
    margin-top: -33.8em;
    
}
.table2{
    margin-top: -15em;
    margin-left: 45em;
}
.table3{
    margin-top: 7.2em;
    margin-left: 23em;
}
.profile{
    margin-top: -em;    
}
image{
    margin-left: 15em;
    margin-bottom: -1em;
}