<div class="row">
    <h3><b>PROFESSIONAL &nbsp;&nbsp;DETAILS</b></h3>
<div class="image">
    <label for="file"><i class="fa fa-camera" style="font-size:15px; border:1px  ;background-color: white; padding: 3px;border-top:-0px; " ></i></label>
    <input type="file"(change)="onSelectFile($event)" name="" id="file" style="display:none; visibility: none; margin-top: -10px;" >   
</div>
 <!--$event parameter is used to specify this input element-->
 <img [src]="url" style="height: 220px; width:190px;">      
</div>

<div class="row"></div>
<div class="row">
    <b>NAME</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mounika Melam
</div>
<div class="row">
    <b>AGE</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 23 Years
</div>
<div class="row">
    <b>Location </b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ongole A.P
</div>
<div class="row"></div>
<div class="row">
    <b>DEGREE</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; B.Tech
</div>

<div class="table1">
    <div class="col" style="color:rgb(73, 120, 237);"><b>ABOUT  &nbsp;ME</b></div>
    <div class="row">
        <b>Location </b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ongole A.P
    </div>
    <div class="row">
        <b>DEGREE</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; B.Tech
    </div>
    <div class="row">
        <b>PHONE</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91-9234567896
    </div>
    <div class="row">
        <b>E-MAIL</b>
        <br>
        <p style="color: rgb(115, 115, 241);">mounikamelam86@gmail.com</p>
    </div>
</div>

<div class="table2">
    <div class="row">
        <b>AGE</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 23 Years
    </div>
    <div class="row">
        <b>EXPERIENCE</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 Year
    </div>
    <div class="row">
        <b>CAREER LEVEL</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Start-Level
    </div>
    <div class="row">
        <b>WEBSITE</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; example.com
    </div>
</div>

<div  class="table3">
    <div class="row">
        <h1><b>I'M WEB DEVELOPER</b></h1>
    </div>
    <div class="row">
        <h3>Software development refers to a set of computer science activities dedicated to the process<br>
             of &nbsp;creating, &nbsp;designing, &nbsp;deploying &nbsp;and&nbsp; &nbsp;supporting &nbsp;software. &nbsp;Software &nbsp;itself &nbsp;is the &nbsp;set &nbsp;of <br>           
            instructions &nbsp;or programs &nbsp;that tell a &nbsp;computer what to do. It &nbsp;is &nbsp;independent of hardware and <br>
            makes computers programmable. </h3>
    </div>    
</div>