<body>
<div class="head">
    <h1><b>&nbsp;WELCOME &nbsp;TO  MOUNIKA &nbsp;BLOGS</b></h1>
</div>
   <div class="img">
      <img src="assets/blog1.jpg" style="height: 370px;">
   </div> 
<h3>Roone Industries Private Limited is an listed private <br>
company &nbsp;incorporated &nbsp;on 14 &nbsp;january, &nbsp;2022. It &nbsp;is <br>
classified as a private limited company and is located<br>
 in , Gullapalli,Andhra Pradesh.</h3>

 <div>
   <h3>The company has 3 directors and no reported key management personnel.</h3>
 </div>
 <div class="pavan"><h2>PAVAN SAI</h2></div>
 <div class="dir1"style="margin-top: -1.5em;">CEO</div>
 <div class="rahul"><h2>RAHUL AZMEER</h2></div>
 <div class="dir2"style="margin-top: -1.5em;">Director</div> 
 <div class="mani"> <h2>MANI KUMAR</h2></div>
 <div class="dir3"style="margin-top: -1.5em;">Director</div>
 <div class="box"></div>
</body>

