.comment{
    width: 45%;
    height: 2.5em;
    border-radius: 5px;
    border: 0;
    background-color: rgb(234, 224, 224);
    margin: 6px;
    float: left;
    margin-top: 4.8em;
}
.btt{
    background-color: rgb(100, 37, 158);
    color: white;
    border-radius: 5px;
    float: right;
    height: 2.5em;
    width: 8%;
    border: 0;
    margin-top: 2.3em;
    margin-right: 1.2em;
}
.btn{
    color: white;
    border-radius: 5px;
    height: 2em;
    width: 50px;
    border: 0;
    background-color: rgb(108, 45, 167); 
    margin-top: 4.8em;   
    margin-bottom: 2em;
    margin-right: 2.9em;
    float: right;  
}
.post{
   margin-right: 8px;
   width: 1250px;
   height: 3.5em;
   border-radius: 5px;
   border: 0;
   margin-top: 1em;
}
.content{
    width: 50%;
    height: 3em;
    border-radius: 5px;
    margin-top: 1em;
    border: 0; 
    margin: 6px;  
    float: left; 
}
.con{
    width: 1250px;
    height: 7em;
    border-radius: 5px;
    margin-top: 1em;
    border: 0;     
}
.image{
    border-radius: 5px;
    height: 2em;
    width: 20%;
    border: 0;
    margin-top: 1em;
}
.cmt{
    width: 1250px;
    height: 4em;
    border-radius: 5px;
    border: 0;
    margin-top: 2em; 
}
.bt{  
    border-radius: 5%;
    border: 0;
    height: 30px;
    width: 53px; 
    margin-left: 1.5em;
    margin-right: 1em;    
 } 
 .time{
    float: right;
    margin-right: 1.5em;
    margin-top: 1em;    
 }
 .send{
    margin-left: -2em;
     font-size: xx-large; 
     color:green;     
     padding: 3px;
     margin-top:-10em ; 
 }

 .img{
    margin-top: 0em;
    float: left;
    margin-right: 0.5em;
    height: 35em;
    width: 35em;

 }
 .add{
    background: rgb(15, 102, 184);
    color: white;
    border-radius: 5px;
    border: 0;
    height: 35px;
    width: 105px; 
    float: right;
    margin-right: 2em;
    margin-bottom: -6em;
}
.box{    
    height:35em;
    width: 80em;
    margin-top: 0.5em;
    background-color: white;
    margin-left: 10.5em;
    border-radius: 5px;
    margin-bottom: 1.5em;
}
.pos{    
    width:25em;
    margin-top: 1px;
    border-radius: 5px;
    margin: 6px;
    float: left;
}
.po{
    margin: 6px;
    width:25em;
}
.com{    
    margin: 4px;
    width:50%;
    float: left;
}
.mouni{
    height:8em ;
    width: 40em;
    overflow-y: scroll;
    margin: 6px;
}
.class{
    border-radius: 5px;
    margin-top: 2px;
    border: 1px solid black;    
}
.dots{
    float: right;
    margin-right: 3em;
    margin-top: 1em;
}
.settings{
    height: 2em;
    width: 2em;
    float: right;
    margin-top: 2em;
    margin-left: 1em;
}
.del{
    float: right;
    margin-right: -1.5em;
    margin-top: 2.2em;
}


